body{
	background: rgb(176,174,255);
background: linear-gradient(90deg, rgba(176,174,255,1) 0%, rgba(41,153,215,1) 35%, rgba(79,15,244,1) 100%);

}
form{
	font-family: sans-serif;
	color: white;
	font-size: 45px;

}
